<form class="form-horizontal">
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="sexe" ng-model="myForm.sexe" value="H"> Homme
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="sexe" ng-model="myForm.sexe" value="F"> Femme
            </label>
        </div>
    </div>

    <div class="form-group">
        <select multiple ng-model="myForm.interets" class="form-control">
            <option ng-repeat="interet in showInterests" ng-value="{{interet.id}}">{{interet.libelle}}</option>
        </select>
    </div>
    <div class="form-group">
        <button ng-click="myForm.submitTheForm()" type="submit" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-search"></span> Rechercher</button>
    </div>
</form>

<table ng-show="showResults.length > 0" class="table table-striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="geek in showResults">
            <td>{{geek.nom}} </td>
            <td>{{geek.prenom}} </td>
            <td>{{geek.description}} </td>
            <td><a href="#/geek/{{geek.id}}" class="btn btn-info btn-block">Consulter son profil <span class="glyphicon glyphicon-heart-empty"></span></a></td>
        </tr>
    </tbody>
</table>